.container {
  padding-top: 1rem;
  align-items: center;
  height: 90vh;
  display: grid;
  place-content: center;
  width: 100%;
  text-align: center;
  @media (min-width: 450px) {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  h1 {
    font-weight: 500;
    font-size: 18px;
    @media (min-width: 700px) {
      font-size: 30px;
    }
  }

  svg {
    @media (max-width: 450px) {
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }
}
