.container {
  padding-top: 1rem;
  align-items: center;
  height: 90vh;
  display: grid;
  gap: 16px;
  place-content: center;
  width: 100%;
  text-align: center;
  max-height: calc(100vh - 65px);

  h1 {
    font-weight: 500;
    font-size: 18px;
    @media (min-width: 700px) {
      font-size: 30px;
    }
  }

  img {
    margin: auto;
    height: auto;
    width: 80%;
    max-width: 100%;
    @media (min-width: 400px) {
      width: 300px;
    }
  }

  svg {
  }
}
