@import "@/variables";

.post {
  display: grid;
  align-items: center;
  place-content: center;
  gap: 30px;
  border-radius: 4px;
  padding: 10px;

  @media screen and (min-width: 780px) {
    grid-template-columns: 1fr auto;
  }

  img {
    display: flex;
    margin: 0 auto;
    @media screen and (min-width: 780px) {
    }
  }
}

.post_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h4 {
    font-size: 22px;
    font-weight: 400;
  }

  h5 {
    font-size: 14px;
  }
}
