$primary-font-color: #000;
$secondary-font-color: #fff;
$primary-color: #c41740;
$secondary-color: #ea9c28;
$base-font-size: 14px;
$primary-blue: #1d2939;
$primary-text-hover: #5980b434;
$primary-blue-hover: rgb(82, 118, 165);
$default-transition: 300ms ease;
$post-bg-color: #8092aa2f;
