@import "@/variables";

.recent_posts {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 1rem auto;
  max-width: 1000px;
  padding: 0 1rem;

  .top {
    display: flex;
    margin: 0 auto;
    height: fit-content;
    justify-content: space-around;
    width: 100%;

    h2 {
      font-size: 22px;
    }
  }
}

.see_more_btn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background $default-transition;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    background-color: $primary-text-hover;
  }
}

.see_more_btn:hover {
  background-color: $primary-text-hover;
}

.post_container {
  display: grid;
  margin-top: 30px;

  a {
    text-decoration: none;
    color: $primary-font-color;
  }
}
